.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
/* styles from flat-ui-free2.0.0-fix.less files */
body {
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.231;
}
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
a {
  color: #dd4814;
  text-decoration: none;
  -webkit-transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
}
a:hover {
  color: #d35400;
  text-decoration: underline;
}
h1,
.h1 {
  font-size: 48px /* 64px */;
}
h2,
.h2 {
  font-size: 41px /* 52px */;
}
h3,
.h3 {
  font-size: 32px /* 40px */;
}
h4,
.h4 {
  font-size: 23px /* 29px */;
}
h5,
.h5 {
  font-size: 21px /* 28px */;
}
h6,
.h6 {
  font-size: 19px /* 24px */;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.2em;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 700;
  margin-bottom: 2px;
}
h3 {
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px;
}
h4 {
  font-weight: 500;
  margin-top: 4px;
}
h5 {
  font-weight: 500;
}
h6 {
  font-weight: normal;
}
p {
  font-size: 18.004px;
  /* 18px */

  line-height: 1.722169;
  /* 31px */

}
.lead {
  font-size: 28px;
  /* 28px */

  line-height: 1.4642745000000001;
  /* 41px */

  font-weight: 300;
  margin-bottom: 20px;
}
small {
  font-size: 84%;
  /* 15px */

  line-height: 2.050846;
  /* 31px */

}
blockquote {
  position: relative;
  border-left: none;
  padding-left: 19px;
}
blockquote p {
  font-size: 20.006px;
  line-height: 1.549829;
  font-weight: normal;
  margin-bottom: .4em;
}
blockquote small {
  font-size: 18.004px;
  line-height: 1.722169;
  font-style: italic;
  color: #34495e;
}
blockquote small:before {
  content: "";
}
blockquote:before {
  position: absolute;
  left: 0;
  width: 3px;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: #ebedee;
  content: "";
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.img-rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.img-comment {
  font-size: 14.994px;
  line-height: 1.231;
  font-style: italic;
  margin: 24px 0;
}
.text-primary {
  color: #1abc9c;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #15967d;
}
.text-success {
  color: #2ecc71;
}
a.text-success:hover,
a.text-success:focus {
  color: #25a35a;
}
.text-danger {
  color: #dd4814;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b13a10;
}
.text-warning {
  color: #f1c40f;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #c19d0c;
}
.text-info {
  color: #3498db;
}
a.text-info:hover,
a.text-info:focus {
  color: #2a7aaf;
}
.text-inverse {
  color: #ffffff;
}
a.text-inverse:hover,
a.text-inverse:focus {
  color: #cccccc;
}
.muted {
  color: #bdc3c7;
}
a.muted:hover,
a.muted:focus {
  color: #979c9f;
}
footer {
  background-color: transparent;
}
.input-append input {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-turquoise {
  background-color: #1abc9c;
}
.bg-green-sea {
  background-color: #16a085;
}
.bg-emerland {
  background-color: #2ecc71;
}
.bg-nephritis {
  background-color: #27ae60;
}
.bg-peter-river {
  background-color: #3498db;
}
.bg-belize-hole {
  background-color: #2980b9;
}
.bg-amethyst {
  background-color: #9b59b6;
}
.bg-wisteria {
  background-color: #8e44ad;
}
.bg-wet-asphalt {
  background-color: #34495e;
}
.bg-midnight-blue {
  background-color: #2c3e50;
}
.bg-sun-flower {
  background-color: #f1c40f;
}
.bg-orange {
  background-color: #dd4814;
}
.bg-carrot {
  background-color: #e67e22;
}
.bg-pumpkin {
  background-color: #d35400;
}
.bg-alizarin {
  background-color: #e74c3c;
}
.bg-pomegranate {
  background-color: #c0392b;
}
.bg-clouds {
  background-color: #ecf0f1;
}
.bg-silver {
  background-color: #bdc3c7;
}
.bg-concrete {
  background-color: #95a5a6;
}
.bg-asbestos {
  background-color: #7f8c8d;
}
.bg-base {
  background-color: #34495e;
}
.bg-firm {
  background-color: #1abc9c;
}
.bg-success {
  background-color: #2ecc71;
}
.bg-danger {
  background-color: #e74c3c;
}
.bg-warning {
  background-color: #f1c40f;
}
.bg-info {
  background-color: #3498db;
}
.bordered {
  border-style: solid;
}
.bordered.bg-turquoise {
  border-color: #16a085;
}
.bordered.bg-emerland {
  border-color: #27ae60;
}
.bordered.bg-peter-river {
  border-color: #2980b9;
}
.bordered.bg-amethyst {
  border-color: #8e44ad;
}
.bordered.bg-wet-asphalt {
  border-color: #2c3e50;
}
.bordered.bg-sun-flower {
  border-color: #dd4814;
}
.bordered.bg-carrot {
  border-color: #d35400;
}
.bordered.bg-alizarin {
  border-color: #c0392b;
}
.bordered.bg-clouds {
  border-color: #bdc3c7;
}
.bordered.bg-concrete {
  border-color: #7f8c8d;
}
body {
  overflow-x: hidden;
  color: #7f8c8d;
  line-height: 1.29;
}
@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
li {
  line-height: 20px;
}
.btn {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  line-height: 22px;
  -webkit-transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
}
.btn.btn-large {
  font-size: 17px;
  padding: 12px 18px;
}
.btn > [class^="fui-"] {
  margin-left: 4px;
  margin-right: 4px;
  line-height: inherit;
  display: inline-block;
  vertical-align: top;
}
.input-group-btn .btn {
  background: #bdc3c7;
  line-height: 9px 12px 10px;
  line-height: 22px;
  border: 0;
  margin: 0;
  color: #fff;
  margin-left: 0 !important;
  padding-left: 10px;
  padding-right: 12px;
}
.input-group-btn .btn:hover {
  background: #cacfd2;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  outline: none;
}
.form-group {
  margin-bottom: 10px;
}
label {
  line-height: 20px;
}
.carousel {
  line-height: 1;
}
.hero-unit h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
p {
  margin-bottom: 10px;
}
.page-wrapper {
  position: relative;
  z-index: 2;
  background: #fff;
  overflow-x: hidden;
}
.header-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.loaded .page-wrapper,
.loaded .header-antiflicker,
.loaded body > header .header-background {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}
.loaded.nav-visible .page-wrapper,
.loaded.nav-visible .navbar.navbar-fixed-top,
.loaded.nav-visible .header-antiflicker,
.loaded.nav-visible body > header .header-background {
  -webkit-transform: translate3d(-230px, 0, 0);
  -moz-transform: translate3d(-230px, 0, 0);
  -o-transform: translate3d(-230px, 0, 0);
  transform: translate3d(-230px, 0, 0);
}
.loaded.no-csstransitions .page-wrapper,
.loaded.no-csstransitions .header-antiflicker {
  left: 0;
}
.loaded.no-csstransitions.nav-visible .page-wrapper,
.loaded.no-csstransitions.nav-visible .navbar.navbar-fixed-top,
.loaded.no-csstransitions.nav-visible .header-antiflicker {
  left: -230px !important;
  right: auto;
}
.carousel-indicators {
  width: 100%;
}
[class^="fui-"] {
  display: inline-block;
  vertical-align: middle;
}
body > section,
header,
footer {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  body > section,
  header,
  footer {
    padding-right: 5px;
    padding-left: 5px;
  }
}
img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2c3e50;
}
h1 {
  font-weight: normal;
}
h3 {
  font-weight: normal;
}
img {
  -webkit-backface-visibility: hidden;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}
a:hover,
button:hover,
a:focus,
button:focus,
a:active,
button:active {
  outline: none;
}
.delimiter {
  margin-top: 200px;
}
.delimiter.line {
  margin-top: 150px;
  margin-bottom: 150px;
  border-top: 2px solid #ebedee;
}
header {
  padding-top: 100px;
  padding-bottom: 70px;
  z-index: 100;
}
header .brand {
  font-size: 25px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
  color: #2c3e50;
}
header .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
section * {
  z-index: 2;
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 20;
  filter: alpha(opacity=2000);
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.container {
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.navbar {
  left: 0;
  right: 0;
}
.navbar .brand {
  padding: 28px 28px 24px 0;
  float: left;
}
.navbar .subnav {
  display: none;
}
.navbar a {
  -webkit-transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
}
.navbar .navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.navbar .nav > li {
  float: left;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  background: none;
}
.navbar .navbar-toggle {
  margin: 26px 0 10px;
  color: white;
  background: none;
  padding: 0;
  width: 30px;
  height: 30px;
  background: url("../../common-files/less/../../assets//icons/menu-icon.png") 50% no-repeat;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.navbar .navbar-toggle:before {
  display: none;
}
.navbar .navbar-form .btn {
  height: auto;
  line-height: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar .nav > li > a > [class*="fui-"] {
  font-size: 24px;
  margin: -10px 0 0;
  position: relative;
  top: 4px;
}
.navbar.navbar-fixed-top {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  max-width: 1170px;
  margin: 0 auto;
}
.loaded .navbar.navbar-fixed-top {
  -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-header {
    float: none;
  }
}
.header-19 .navbar-collapse.collapse,
.header-16 .navbar-collapse.collapse {
  display: none !important;
}
@media (max-width: 991px) {
  body .navbar-collapse {
    width: 230px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100% !important;
    z-index: 1;
  }
}
@media (min-width: 992px) {
  body > .collapse.navbar-collapse {
    display: none !important;
  }
}
body .navbar-collapse#header-19,
body .navbar-collapse#header-16 {
  width: 230px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100% !important;
  z-index: 1;
}
body > .navbar-collapse {
  padding: 25px 0;
  overflow: auto;
  background: #222527;
  min-height: 100%;
}
body > .navbar-collapse::-webkit-scrollbar {
  display: none;
}
body > .navbar-collapse .pull-right,
body > .navbar-collapse .pull-left {
  float: none !important;
}
body > .navbar-collapse .nav {
  margin: 0 0 10px;
}
body > .navbar-collapse .nav > li {
  margin: 0;
}
body > .navbar-collapse .nav > li > a {
  display: block;
  padding: 12px 35px;
  border-bottom: 2px solid #24292d;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 1px;
  color: #5b5e61;
  text-transform: uppercase;
}
body > .navbar-collapse .nav > li > a:hover,
body > .navbar-collapse .nav > li > a:focus,
body > .navbar-collapse .nav > li > a.active {
  color: #ffffff;
}
body > .navbar-collapse .nav > li > a:hover,
body > .navbar-collapse .nav > li > a:focus {
  background: none;
}
body > .navbar-collapse .nav > li.active > a {
  color: #ffffff;
}
body > .navbar-collapse .nav > li.active > a:hover,
body > .navbar-collapse .nav > li.active > a:focus,
body > .navbar-collapse .nav > li.active > a.active {
  color: #ffffff;
}
body > .navbar-collapse .subnav {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
body > .navbar-collapse .subnav li > a {
  display: block;
  margin: 0;
  padding: 7px 35px;
  font-size: 13px;
  font-weight: normal;
  color: #5b5e61;
  text-transform: capitalize;
}
body > .navbar-collapse .subnav li > a:hover,
body > .navbar-collapse .subnav li > a:focus,
body > .navbar-collapse .subnav li > a.active {
  color: #ffffff;
}
body > .navbar-collapse .navbar-form,
body > .navbar-collapse .navbar-search {
  padding: 10px 35px;
  margin: 0;
  border-bottom: 0 none;
  border-top: 0 none;
  box-shadow: none;
}
body > .navbar-collapse .navbar-form:focus,
body > .navbar-collapse .navbar-search:focus {
  outline: 0 none;
}
body > .navbar-collapse .navbar-form .btn,
body > .navbar-collapse .navbar-search .btn,
body > .navbar-collapse .navbar-form .btn-primary,
body > .navbar-collapse .navbar-search .btn-primary {
  height: 30px;
  line-height: 20px;
  font-size: 15px;
  color: #5b5e61;
  background: none;
  padding: 0;
}
body > .navbar-collapse .navbar-form .btn:hover,
body > .navbar-collapse .navbar-search .btn:hover,
body > .navbar-collapse .navbar-form .btn-primary:hover,
body > .navbar-collapse .navbar-search .btn-primary:hover {
  color: #fff;
}
/**
 * Header 2 stylesheet  
 * */
.header-2 {
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}
.header-2 > .container {
  position: relative;
}
.header-2 .navbar {
  position: absolute;
  z-index: 2;
  top: 55px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header-2 .navbar.navbar-fixed-top {
  position: fixed;
}
.header-2 .navbar .brand {
  font-size: 25px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 800;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header-2 .navbar .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
.header-2 .navbar .nav a:hover {
  color: #dd4814 !important;
}
.header-2 .navbar .nav > li {
  margin-left: 35px;
}
.header-2 .navbar .nav > li:first-child {
  margin-left: 0;
}
.header-2 .navbar .nav > li > a {
  padding: 32px 0 30px;
  font-size: 17px;
  font-weight: normal;
  font-weight: 500;
  letter-spacing: 1px;
  color: #ffffff;
}
.header-2 .navbar .nav > li > a:hover,
.header-2 .navbar .nav > li > a:focus,
.header-2 .navbar .nav > li > a.active {
  color: #506e8c;
}
.header-2 .navbar .nav > li.active > a {
  color: #dd4814;
}
.header-2 .navbar .nav > li.active > a:hover,
.header-2 .navbar .nav > li.active > a:focus,
.header-2 .navbar .nav > li.active > a.active {
  color: #b13a10;
}
.low {
  padding-bottom: 0px !important;
}
/*.homebg{
    background: url('../../../../site/assets/img/visual_home.jpg');
}*/
.header-2-sub {
  z-index: 50;
  left: 0;
  width: 100%;
  position: relative;
  padding-top: 215px;
  padding-bottom: 115px;
  color: white;
  text-align: center;
}
@media (max-width: 991px) {
  .header-2-sub {
    padding-top: 165px;
  }
}
.header-2-sub .hero-unit {
  margin: 0;
  padding: 0;
  background: transparent;
}
.header-2-sub .hero-unit h1 {
  margin: 0 0 18px;
  font-size: 30px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 300;
  line-height: 40px;
}
.header-2-sub .hero-unit p {
  font-size: 13px;
  font-weight: normal;
  color: #506e8c;
  font-weight: 800;
  letter-spacing: 2px;
}
.header-2-sub .btns {
  display: inline-block;
  margin-top: 15px;
}
@media (max-width: 480px) {
  .header-2-sub .btns {
    margin-top: 48px;
    display: block;
  }
}
.header-2-sub .btns .btn {
  min-width: 160px;
  float: left;
}
@media (max-width: 480px) {
  .header-2-sub .btns .btn {
    float: none;
    display: block;
    margin-top: 10px;
  }
  .header-2-sub .btns .btn:first-child {
    margin-top: 0;
  }
}
.header-2-sub .btns .btn + .btn {
  margin-left: 20px;
}
@media (max-width: 480px) {
  .header-2-sub .btns .btn + .btn {
    margin-left: 0;
  }
}
.header-2-sub .btn.btn-inverse {
  background-color: #3c556e;
}
.header-2-sub .btn.btn-inverse:hover,
.header-2-sub .btn.btn-inverse:focus {
  background-color: #63778b;
}
.header-2-sub .btn.btn-inverse:active,
.header-2-sub .btn.btn-inverse.active {
  background-color: #33485e;
}
.header-2-sub .btn.btn-danger {
  background-color: #dd4814;
}
.header-2-sub .btn.btn-danger:hover,
.header-2-sub .btn.btn-danger:focus {
  background-color: #e46d43;
}
.header-2-sub .btn.btn-danger:active,
.header-2-sub .btn.btn-danger.active {
  background-color: #bc3d11;
}
.content-32 {
  position: relative;
  padding-top: 160px;
  padding-bottom: 155px;
  text-align: center;
  background: #f2f2f1;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.content-32 .lead {
  font-size: 20px;
  font-weight: normal;
  color: #7f8c8d;
  line-height: 36px;
}
.content-32 h3 {
  font-size: 35px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 40px;
  margin: 0 0 48px;
}
.content-32 .features {
  border-top: 2px solid #e6e6e5;
  margin-top: 56px;
  padding-top: 85px;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
}
@media (max-width: 767px) {
  .content-32 .features {
    padding-top: 70px;
  }
}
.content-32 .features h6 {
  text-transform: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin: 0 0 20px;
}
@media (max-width: 767px) {
  .content-32 .features h6 {
    margin: 20px 0 10px;
  }
}
@media (max-width: 767px) {
  .content-32 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.content-25 {
  position: relative;
  padding: 95px 0;
}
@media (max-width: 767px) {
  .content-25 {
    padding: 40px 5px;
  }
  .content-25 .svg,
  .content-25 .nosvg {
    display: block;
    text-align: center;
    float: none !important;
    margin-top: 45px;
  }
}
.content-25 h3 {
  font-size: 30px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.content-25 p {
  font-size: 18px;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 45px;
  font-weight: normal;
}
.content-25 svg,
.content-25 .svg {
  max-width: 100%;
}
.content-25 .nosvg {
  display: none;
}
/**
 * Content 13 stylesheet  
 * */
.content-13 {
  position: relative;
}
.content-13.subscribe-form {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #a1a9b1;
}
.content-13.subscribe-form .col-sm-4 {
  text-align: right;
}
@media (max-width: 767px) {
  .content-13.subscribe-form .col-sm-4 {
    width: auto;
    display: inline-block;
    float: right;
    text-align: center;
  }
}
@media (max-width: 668px) {
  .content-13.subscribe-form .col-sm-4 {
    display: block;
    float: none;
  }
}
.content-13.subscribe-form form {
  margin: 0;
  position: relative;
}
@media (max-width: 767px) {
  .content-13.subscribe-form form .col-sm-8 {
    width: 65%;
    display: inline-block;
    float: left;
  }
}
@media (max-width: 668px) {
  .content-13.subscribe-form form .col-sm-8 {
    width: auto;
    display: block;
    float: none;
    text-align: center;
  }
}
.content-13.subscribe-form input[type="text"],
.content-13.subscribe-form input[type="email"] {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  line-height: 59.99999999999999px;
  font-size: 50px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  letter-spacing: -1px;
}
.content-13.subscribe-form input[type="text"]:-moz-placeholder,
.content-13.subscribe-form input[type="email"]:-moz-placeholder {
  color: #ffffff;
}
.content-13.subscribe-form input[type="text"]::-moz-placeholder,
.content-13.subscribe-form input[type="email"]::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.content-13.subscribe-form input[type="text"]:-ms-input-placeholder,
.content-13.subscribe-form input[type="email"]:-ms-input-placeholder {
  color: #ffffff;
}
.content-13.subscribe-form input[type="text"]::-webkit-input-placeholder,
.content-13.subscribe-form input[type="email"]::-webkit-input-placeholder {
  color: #ffffff;
}
.content-13.subscribe-form input[type="text"].placeholder,
.content-13.subscribe-form input[type="email"].placeholder {
  color: #ffffff;
}
.content-13.subscribe-form input[type="text"]::-webkit-input-placeholder,
.content-13.subscribe-form input[type="email"]::-webkit-input-placeholder {
  font-weight: 500;
  letter-spacing: -1px;
}
.content-13.subscribe-form input[type="text"]:-moz-placeholder,
.content-13.subscribe-form input[type="email"]:-moz-placeholder {
  font-weight: 500;
  letter-spacing: -1px;
}
.content-13.subscribe-form input[type="text"]::-moz-placeholder,
.content-13.subscribe-form input[type="email"]::-moz-placeholder {
  font-weight: 500;
  letter-spacing: -1px;
}
.content-13.subscribe-form input[type="text"]:-ms-input-placeholder,
.content-13.subscribe-form input[type="email"]:-ms-input-placeholder {
  font-weight: 500;
  letter-spacing: -1px;
}
.content-13.subscribe-form .ani-placeholder {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  padding-left: 6px;
  line-height: 59.99999999999999px;
  font-size: 50px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.content-13.subscribe-form .btn {
  margin-top: 8px;
  width: 220px;
  max-width: 100%;
}
.content-13.subscribe-form .btn.btn-primary {
  background: #16a085;
}
.content-13.subscribe-form .btn.btn-primary:hover,
.content-13.subscribe-form .btn.btn-primary:focus {
  background: #24deb4;
}
.content-13.subscribe-form .btn.btn-primary:active,
.content-13.subscribe-form .btn.btn-primary.active {
  background: #138871;
}
@media (max-width: 480px) {
  .content-13.subscribe-form input[type="text"],
  .content-13.subscribe-form input[type="email"],
  .content-13.subscribe-form .ani-placeholder {
    width: 100%;
    margin-bottom: 33px;
    line-height: 27px;
    font-size: 25px;
    font-weight: normal;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
  }
}
@media (max-width: 688px) {
  .content-13.subscribe-form input[type="text"],
  .content-13.subscribe-form input[type="email"],
  .content-13.subscribe-form .ani-placeholder {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
}
/**
 * Content 13 stylesheet  
 * */
.fixed {
  position: fixed;
  top: 40px;
}
/* sidebar */
.bs-docs-sidebar {
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* all links */
.bs-docs-sidebar .nav > li > a {
  color: #2c3e50;
  font-weight: bold;
  border-left: 2px solid transparent;
  padding: 4px 20px;
}
/* nested links */
.bs-docs-sidebar .nav .nav > li > a {
  color: #95a5a6;
  font-weight: normal;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
}
.content-documentation {
  position: relative;
  padding-top: 130px;
  padding-bottom: 155px;
}
.content-documentation p {
  margin-bottom: 25px;
}
.content-documentation p + p {
  margin-top: 30px;
}
.content-documentation h3 {
  font-size: 35px;
  margin: 0 0 35px;
}
.content-documentation h6 {
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  margin: 0 0 25px;
  text-transform: none;
}
.reference-item {
  margin-bottom: 55px;
}
.content {
  padding-left: 95px;
}
.example {
  background-color: #2c3e50;
  border: 1px #bdc3c7;
  color: #ecf0f1;
}
/**
 * Copntact 1 stylesheet  
 * */
.contacts-1 {
  padding-top: 110px;
  padding-bottom: 110px;
}
.contacts-1 h3 {
  font-size: 30px;
  margin: 0 0 60px;
  font-weight: 300;
}
@media (max-width: 480px) {
  .contacts-1 h3 {
    font-size: 26px;
    margin: 0 0 30px;
  }
}
.contacts-1 h6,
.contacts-1 .h6 {
  margin: 0 0 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-transform: none;
}
.contacts-1 label.h6 {
  margin-bottom: 18px;
}
.contacts-1 label.h6 {
  margin-bottom: 18px;
}
.contacts-1 p {
  font-size: 16px;
  line-height: 1.6;
}
.contacts-1 b {
  font-weight: 700;
}
.contacts-1 a {
  color: #1abc9c;
}
.contacts-1 a:hover,
.contacts-1 a:focus,
.contacts-1 a.active {
  color: #15967d;
}
.contacts-1 .faq-head {
  padding-top: 20px;
}
.contacts-1 form {
  margin: 0;
}
.contacts-1 form input,
.contacts-1 form textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  margin-bottom: 29px;
  border-color: #ebedee;
  color: #7f8c8d;
  font-size: 17px;
  line-height: 22px;
}
.contacts-1 form input:focus,
.contacts-1 form textarea:focus {
  border-color: #1abc9c;
}
.contacts-1 form input {
  height: 45px;
}
.contacts-1 form label {
  margin-bottom: 18px;
}
.contacts-1 form .btn {
  margin-top: 7px;
  min-width: 150px;
}
.contacts-1 form .btn [class*="fui-"] {
  font-size: 24px;
}
.contacts-1 form .btn.btn-primary:hover,
.contacts-1 form .btn.btn-primary:focus {
  background-color: #dd4814;
}
.contacts-1 form .btn.btn-primary:active,
.contacts-1 form .btn.btn-primary.active {
  background-color: #bc3d11;
}
.contacts-1 .additional {
  margin-bottom: 45px;
}
.contacts-1 .phone {
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.2;
  color: #95a5a6;
}
.contacts-1 .phone big {
  display: block;
  font-size: 46px;
  letter-spacing: normal;
  white-space: nowrap;
  color: #1abc9c;
}
@media (max-width: 992px) and (min-width: 768px) {
  .contacts-1 .phone big {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .contacts-1 > .container > .row > * + * {
    margin-top: 55px;
  }
}
@media (max-width: 480px) {
  .contacts-1 form {
    margin-bottom: 80px;
  }
  .contacts-1 form label {
    margin-bottom: 0px;
  }
  .contacts-1 .phone big {
    font-size: 40px;
  }
}
.pt-perspective {
  position: relative;
  height: 100%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
  overflow: hidden;
}
.pt-page {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.pt-page-current,
.no-js .pt-page {
  visibility: visible;
  z-index: 1;
}
.pt-page-ontop {
  z-index: 999;
}
/**
 * Blog 3 stylesheet
 * */
.blog-3 {
  padding-top: 130px;
  padding-bottom: 130px;
}
.blog-3 p {
  margin: 0;
}
.blog-3 p + p {
  margin-top: 30px;
}
.blog-3 h6 {
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  margin: 0 0 25px;
  text-transform: none;
}
.blog-3 .title {
  margin-bottom: 84px;
  text-align: center;
}
.blog-3 .title h3 {
  font-size: 35px;
  margin: 0;
  font-weight: 300;
  letter-spacing: -1px;
}
.blog-3 .title .submitted {
  font-size: 16px;
  color: #bdc3c7;
  margin-top: 15px;
}
.blog-3 .title img {
  display: block;
  margin: 0 auto 37px;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
.blog-3 .img {
  height: 380px;
  margin: 110px 0;
  background: url('../../ui-kit/ui-kit-blog/less/../../assets//img/Brazil_002.jpg') 50% 80% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 767px) {
  .blog-3 .img {
    margin-right: -20px;
    margin-left: -20px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
.blog-3 .quote {
  position: relative;
  margin-bottom: 35px;
  font-size: 37px;
  line-height: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2c3e50;
  letter-spacing: -1px;
  font-weight: 300;
}
.blog-3 .quote:before {
  content: url('../../ui-kit/ui-kit-blog/less/../../assets//icons/quote-up.png');
  position: absolute;
  top: -17px;
  left: -40px;
}
@media (max-width: 767px) {
  .blog-3 .quote {
    margin-left: 40px;
    font-size: 29px;
    line-height: 38px;
  }
}
.blog-3 .promo {
  margin-bottom: 70px;
}
.blog-3 .links {
  margin-top: 76px;
}
.blog-3 .links,
.blog-3 .links * {
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #bdc3c7;
}
.blog-3 .links h6 {
  margin: 0 0 23px;
  letter-spacing: 0.19em;
  font-size: 12px;
  font-weight: 500;
}
.blog-3 .links a {
  color: #1abc9c;
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: none;
  letter-spacing: normal;
  line-height: 1.5;
}
.blog-3 .links a:hover,
.blog-3 .links a:focus,
.blog-3 .links a.active {
  color: #15967d;
}
/**
 * Blog 4 stylesheet
 * */
.blog-4 {
  padding-top: 130px;
  padding-bottom: 130px;
}
.blog-4 p {
  margin: 0;
}
.blog-4 p + p {
  margin-top: 30px;
}
.blog-4 h3 {
  font-size: 35px;
  margin: 0 0 35px;
}
.blog-4 h6 {
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  margin: 0 0 25px;
  text-transform: none;
}
.blog-4 .img {
  max-height: 242px;
  max-width: 538px;
  margin: 70px 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  display: inline-block;
}
@media (max-width: 560px) {
  .blog-4 .img {
    display: block;
  }
}
.blog-4 .img > img {
  display: block;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  max-height: 100%;
}
.blog-4 .quote {
  position: relative;
  margin: 60px 0 55px 40px;
  font-size: 37px;
  line-height: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2c3e50;
  font-weight: 300;
  letter-spacing: -1px;
}
.blog-4 .quote:before {
  content: url('../../ui-kit/ui-kit-blog/less/../../assets//icons/quote-up.png');
  position: absolute;
  top: -17px;
  left: -40px;
}
@media (max-width: 767px) {
  .blog-4 .quote {
    font-size: 29px;
    line-height: 38px;
  }
}
.blog-4 .tags {
  margin-top: 70px;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.19em;
  color: #bdc3c7;
}
.blog-4 .tags a {
  color: #bdc3c7;
}
.blog-4 .tags a:hover,
.blog-4 .tags a:focus,
.blog-4 .tags a.active {
  color: #979c9f;
}
.blog-4 .tags ul,
.blog-4 .tags ol {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
.blog-4 .tags li {
  display: inline-block;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .blog-4 .tags {
    display: none;
  }
}
.blog-4 .related-articles {
  margin-top: 82px;
  font-size: 15px;
  color: #bdc3c7;
}
.blog-4 .related-articles h6 {
  font-size: 19px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  margin: 0 0 30px;
}
.blog-4 .related-articles ul,
.blog-4 .related-articles ol {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
.blog-4 .related-articles li {
  display: block;
  line-height: 1.45;
}
.blog-4 .related-articles li + li {
  margin-top: 30px;
}
.blog-4 .related-articles a {
  color: #1abc9c;
  font-size: 17px;
  font-weight: 500;
}
.blog-4 .related-articles a:hover,
.blog-4 .related-articles a:focus,
.blog-4 .related-articles a.active {
  color: #15967d;
}
.blog-4 .related-articles a + div {
  margin-top: 4px;
}
@media (max-width: 767px) {
  .blog-4 .related-articles {
    margin-top: 60px;
  }
}
/**
 * Footer 2 stylesheet  
 * */
.footer-2 {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #bdc3c7;
  line-height: 25px;
}
.footer-2 a {
  color: #bdc3c7;
  font-weight: normal;
}
.footer-2 a:hover,
.footer-2 a:focus,
.footer-2 a.active {
  color: #979c9f;
}
.footer-2 nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  color: #bdc3c7;
}
.footer-2 nav ul li {
  float: left;
  margin-left: 25px;
  line-height: 25px;
}
.footer-2 nav ul li:first-child {
  margin-left: 0;
}
.footer-2 .social-btns {
  white-space: nowrap;
}
.footer-2 .social-btns > * {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  font-size: 20px;
  font-weight: normal;
  color: #979c9f;
  width: 20px;
  height: 25px;
  overflow: hidden;
  text-align: center;
}
.footer-2 .social-btns > *:first-child {
  margin-left: 0;
}
.footer-2 .social-btns > * > * {
  display: block;
  position: relative;
  top: 0;
  -webkit-transition: 0.25s top;
  -moz-transition: 0.25s top;
  -o-transition: 0.25s top;
  transition: 0.25s top;
}
.footer-2 .social-btns > * > *:first-child {
  color: #bdc3c7;
}
.footer-2 .social-btns > *:hover > * {
  top: -100%;
}
.footer-2 .additional-links {
  font-size: 12px;
  font-weight: normal;
  color: #bdc3c7;
  text-align: center;
}
@media (max-width: 991px) {
  .footer-2 .additional-links {
    clear: both;
    text-align: left;
  }
}
.footer-2 .additional-links a {
  text-decoration: underline;
}
@media (max-width: 480px) {
  .footer-2 {
    padding-top: 28px;
    padding-bottom: 28px;
  }
  .footer-2 > .container > * {
    float: none !important;
  }
  .footer-2 > .container > *:before,
  .footer-2 > .container > *:after {
    content: " ";
    /* 1 */
  
    display: table;
    /* 2 */
  
  }
  .footer-2 > .container > *:after {
    clear: both;
  }
  .footer-2 > .container > *:before,
  .footer-2 > .container > *:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .footer-2 > .container > *:after {
    clear: both;
  }
  .footer-2 nav ul li {
    float: none;
    margin: 18px 0 0;
  }
  .footer-2 nav ul li:first-child {
    margin-top: 0;
  }
  .footer-2 .social-btns {
    margin: 25px 0 10px;
  }
}
