<footer class="footer-2 bg-midnight-blue">
<div class="container">
  <nav class="pull-left">
  <ul>
    {% include navigation_links.html %}
  </ul>
  </nav>
  <div class="social-btns pull-right">
    <a href="#">
      <div class="fui-vimeo"></div>
      <div class="fui-vimeo"></div>
    </a>
    <a href="#">
      <div class="fui-facebook"></div>
      <div class="fui-facebook"></div>
    </a>
    <a href="#">
      <div class="fui-twitter"></div>
      <div class="fui-twitter"></div>
    </a>
  </div>
  <div class="additional-links">
    Be sure to take a look at our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
  </div>
</div>
</footer>

