<ul id="sidebar" class="nav bs-sidenav">
  <li>
  <a href="/getting-started#introduction">Getting Started</a>
    <ul class="nav nav-stacked visible">
      <li><a href="#what-is-opener">What is OpeNER</a></li>
      <li><a href="#quick-start-guide">Quick Start Guide</a></li>
      <li><a href="#opener-nlp-chain-schema">OpeNER NLP chain schema</a></li>
      <li><a href="#what-technology-is-used">What technology is used</a></li>
      <li>
        <a href="#core-technology">Main functionality</a>
        <ul class="nav nav-stacked double-stacked">
          <li><a href="#language-detection">Language Detection</a></li>
          <li><a href="#tokenization">Tokenization</a></li>
          <li><a href="#part-of-speech-tagging">Part of Speech Tagging</a></li>
          <li><a href="#named-entity-resolution">Named Entity Resolution</a></li>
          <li><a href="#polarity-tagging">Polarity Tagging</a></li>
          <li><a href="#opinion-detection">Opinion Detection</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
  <a href="#scenarios">Scenarios</a>
    <ul class="nav visible">
      <li><a href="/getting-started/scenarios/basic-opinions.html">Basic Opinions</a></li>
      <li><a href="/getting-started/scenarios/named-entity-disambiguation.html">Named Entity Disambiguation</a></li>
      <li><a href="/getting-started/scenarios/full-pipeline.html">Full Pipeline</a></li>
      <li><a href="/getting-started/scenarios/create-your-own-scenario.html">Create your own</a></li>
    </ul>
  </li>
  <li>
  <a href="#how-to">How to:</a>
    <ul class="nav visible">
      <li><a href="/getting-started/how-to/quick-start.html">Quick Start</a></li>
      <li><a href="/getting-started/how-to/domain-adaption.html">Domain Adaption</a></li>
      <li><a href="/getting-started/how-to/language-extension.html">Language Extension</a></li>
      <li><a href="/getting-started/how-to/local-installations.html">Local Installations</a></li>
      <li><a href="/getting-started/how-to/using-a-queue-system.html">Using a Queue System</a></li>
    </ul>
  </li>
</ul>
