<footer class="footer-2 bg-midnight-blue doc-bottom-margin">
<div class="container">
  <nav class="pull-left">
  <ul>
    {% include navigation_links.html %}
  </ul>
  </nav>
  <!--<div class="social-btns pull-right">-->
    <!--<a href="#">-->
      <!--<div class="fui-vimeo"></div>-->
      <!--<div class="fui-vimeo"></div>-->
    <!--</a>-->
    <!--<a href="#">-->
      <!--<div class="fui-facebook"></div>-->
      <!--<div class="fui-facebook"></div>-->
    <!--</a>-->
    <!--<a href="#">-->
      <!--<div class="fui-twitter"></div>-->
      <!--<div class="fui-twitter"></div>-->
    <!--</a>-->
  <!--</div>-->
  <!--<div class="additional-links">-->
    <!--Be sure to take a look at our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>-->
  <!--</div>-->
</div>
</footer>
<div class=container">
  <div class="eu-notice">
    <img src="/images/flag_yellow_low.jpg" height="34" width="50"/> This project has received funding from the European Union’s Seventh
    Framework Programme for research, technological development and
    demonstration under grant agreement no 261712.
  </div>
</div>
