<ul id="sidebar" class="nav bs-sidenav">
  <li>
    <a href="/project/index.html#introduction">Project Overview</a>
    <ul class="nav nav-stacked">
      <li><a href="#vision">Vision &amp; Goals</a></li>
      <li><a href="#objectives">Objectives</a></li>
      <li><a href="#consortium">Consortium</a></li>
      <li><a href="#euab">EUAB</a></li>
    </ul>
  </li>
  <li><a href="/project/publications.html">Publications</a></li>
  <li><a href="/documentation/">Datasets & Lexicons</a>
  <li><a href="/project/demos/">Demos</a>
<li><a href="/project/performance/">Performance</a>

  </li>
</ul>
